@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    overflow-wrap: balance;
  }
}

@layer base {
  body {
    @apply text-black-soft bg-body;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  animation: marquee 5s linear infinite;
}
